*{
    margin: 0;
    border: 0;
}
.container{
    background-color: rgb(46, 46, 107);
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.left-Area{
    background-image: url('../../assets/TodoImage.jpg');
    /* background-position: center;
    background-size: cover; */
    /* overflow: hidden; */
    width: 70%;
    height: 100vh;
}

.signup{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    padding: 1em;
}

.signup h1{
    text-decoration: underline;
    font-weight: 400;
    margin: 1em 0;
    padding: 0.5em 0;
    color: #fff;
}

.signup form{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
input::placeholder{
    color: gray;
}

.signup form input{
    background-color: transparent;
    padding: 0.5em;
    border: none;
    outline: none;
    width: 100%;
    height: 2em;
    color: rgba(255,255,255,1);
    margin: 0.75em 0;
    border-bottom: 2px solid rgba(255,255,255,0.75);
}

.signup form input:hover{
    border-bottom:2px solid rgb(12,4,4);
}

.authbtn{
    padding: 7px;
    margin-top: 1em;
    min-width: 200px;
    min-height: 35px;
    font-size: 1em;
    background-color: transparent;
    color: #fff;
    border:1px solid rgba(255,255,255,0.75);
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.authbtn:hover{
    color: rgb(12,4,4);
    background-color: #fbfcf8;
}

.loginRedirect{
    margin-top: 1.5rem;
}
.loginRedirect .link{
    color:#fff;
}


.msgArea{
    color: #fff;
}


 